body{
    text-size-adjust: 50px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: auto;
}

.container{
    display: grid;
    gap:10px;
}

.row{
    float: left;
}

.column{
    width: 60px;
    height: 60px;
    background-color: #DDDDDD;
    margin: -3px 2px -3px 2px;
    float: left;
    border-radius: 5px;
    padding: 5px;
}

#result1 {
    white-space: pre-line;
}
